VITE_WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather
VITE_WEATHER_API_KEY=3fa60c09343c85f72b799b685bd36a08

VITE_TRAVEL_TIME_API_URL=https://api.openrouteservice.org/v2/directions/driving-car
VITE_TRAVEL_TIME_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6Ijc3MDQxMzFmZTZlOTQxZDlhNGUxNzI3ODlkNTUyNmY5IiwiaCI6Im11cm11cjY0In0
VITE_TRAVEL_TIME_API_METHOD=GET

VITE_OVERPASS_API_URL=https://overpass-api.de/api/interpreter

